# Keil uVision Gitignore
# Ignore temporary and build files

*.obj
*.lst
*.map
*.o
*.d
*.crf
*.iex
*.htm
*.sct
*.dep
*.bak
*.uvopt*
*.uvgui*
*.uvguix*
*.Administrator
*.__i
*.build_log.htm
*.lnp
*.m51
*.plg
*.hex

# Keep main project files
!*.uvproj
!*.uvprojx

# Ignore build output folders
Objects/
Listings/
*/Objects/
*/Listings/
